@charset "UTF-8";

@use '../Scss/vars.scss';

/*

#변수 규칙

1. $로 시작
2. 영문,숫자, _ , - , 만가능

*/

body {background-color: #ccc;}

.box {
	width: 100px;
	height: 100px;
	border:1px solid #111;
	color:vars.$color-primary;
	background-color:vars.$bg-color;
}
.box + .box {
	/*
		중괄호 안에서 변수 선언시
		지역 변수로 사용됨
		$spacer10px : vars.$spacer * 2;
	*/
	$spacer10px : vars.$spacer * 2;
	margin-top:$spacer10px;
}

#box5 {
	background-color:vars.$bg-color ;

	$spacer10px : vars.$spacer * 4;
	margin-top:$spacer10px;
}

.item {
	padding: 20px;
	border:1px solid #111;
	border-radius:10px;

	& .item {
		color:red;
	}
}

